<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Identitate noua</title>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">Return to index page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
               
        </div>
        
    </div>
    <div class="container">
        <h3>Formular Indentitate noua</h3>
        <div class="identiateform">
            <div class="mb-3">
                <label for="nume" class="form-label">Nume</label>
                <input type="text" class="form-control" id="nume" placeholder="Introduceti numele">
              </div>
              <div class="mb-3">
                <label for="prenume" class="form-label">Prenume</label>
                <input type="text" class="form-control" id="prenume" placeholder="Introduceti prenumele">
              </div>
              <div class="mb-3">
                <label for="cardid" class="form-label">Introduceti card id</label>
                <input type="text" class="form-control" id="cardid" placeholder="Introduceti carte de identitate">
              </div>
              <div class="mb-3">
                <label for="varsta" class="form-label">Introduceti varta</label>
                <input type="text" class="form-control" id="varsta" placeholder="Introduceti varsta">
              </div>
              <div class="mb-3">
                <button type="button" class="btn btn-lg btn-block btn-outline-success" onclick="saveIdentitate()">Salveaza Identitate</button>
              </div>


        </div>
    </div>
    <script src="../script/main.js"></script>
</body>
</html>